@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Strona, którą za moment zabezpieczymy przed nieautoryzowanym dostępem!
    <div>
        Informacja z profilu: @ViewBag.ProfileInformation
    </div>
</div>

