@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        @foreach (var q in Model)
        {
            <div style="margin-bottom: 30px; margin-left: 35px; font-style: italic">
                @Html.Raw(q.QuestionText)
            </div>
        }
    </div>
    <div style="border: 1px solid black; margin-top: 50px; padding: 25px;">
        Wprowadź treść zapytania:
        <br /> <br />
        @using (Html.BeginForm("AddQuestion", "Home"))
        {
            @Html.TextBox("QuestionText")
            <input type="submit" value="Wyślij" />
            @Html.AntiForgeryToken()
        }
    </div>
</body>
</html>