@using ControllerAction.Helpers
@{
    ViewBag.Title = "Helpers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Helpers</h2>

@Html.Image("asplogo", "http://www.asp.net/images/ui/asplogo-new.png","ASP.NET LOGO")