@model Kontroler.Models.Data
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailConfirmation</title>
</head>
<body>
    <div>@Model.Tresc</div>
</body>