@model ControllerAction.Models.HelpersModel

<div>
    @Html.EditorFor(o => o.String)
    <br />
    @Html.EditorFor(o => o.Bool)
    <br />
    @Html.EditorFor(o => o.Decimal)
    <br />
    @Html.EditorFor(o => o.DateTime)
</div>